<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #td{align-content: ;

    }
</style>
<body>
<table border="1" style="">
    <tr>
        <td align=""><big>西安铁路局货运站信息系统改造项目</big></td>
        <td><big>联想售前技术顾问</big></td>
        <td><big>2016/11-2017/03</big></td>
    </tr>
    <tr>
        <td>学士学位</td>
        <td>GPA：3.5/4</td>
        <td>排名：全系前25%</td>
    </tr>
    <tr>
        <td>主修课程</td>
        <td>微机原理，c语言，python，汇编语言，数学分析，线性代数，复变函数，模式识别，图像处理，数字电路，模拟电路，Verilog</td>
    </tr>
</table>
</body>
</html>